<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="template.css">
    <link rel="shortcut icon" href="img-site/logo_thermo-carry-2.png" type="image/x-icon" />
    <title>ThermoCarry - Template</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="img-site/logo_thermo-carry-2-escrita.png" alt="">
            </div>
            <ul class="navbar">
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Cadastro</a></li>
                <li><a href="#">Simulador</a></li>
            </ul>
        </div>
    </header>
    <div class="banner">
        <img src="img-site/banner-vacina.jpeg" alt="">
    </div>
    <main>
        <!-- Colocar todo conteudo do "meio" do site aqui dentro -->
    </main>
    
    <footer>
        <div class="conteudo_footer">
            <div class="fale_conosco">
                <p class="titulos_footer">Fale conosco</p>
                <div class="barra"></div>
                <a href="mailto:patrik.souza@sptech.school">atendimento@thermocarry</a> <!-- Substituir esse email depois -->
            </div>
            <div class="sac">
                <p class="titulos_footer">Sac</p>
                <div class="barra"></div>
                <a href="tel:+5511983326043">(xx)xxxx-xxxx</a>
            </div> <!-- Substituir o numero depois -->
            <div class="logo_footer">
                <img src="img-site/logo_thermo-carry-2.png" alt="">
                <p>© 2022 ThermoCarry • Todos os direitos reservados •</p>
            </div>
           <div class="redes_socias">
                <p class="titulos_footer">Redes Socias</p>
                <div class="barra"></div>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
            </div> 
            <div class="nossos_conteudos">
                <p class="titulos_footer">Nossos conteudos</p>
                <div class="barra"></div>
                <a href="#">Home</a>
                <a href="#">Cadastro</a>
                <a href="#">Login</a>
                <a href="#">Simulador financeiro</a>
            </div>
        </div>
    </footer>
</body>
</html>