body {
    /*height: 100vh;*/
    margin: 0;
}


.caixa-navbar-chamado {
    background-color: #26B0BF;
    /* background-color: #4cc4d1; */
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;

}

.navbar-chamado {
    justify-content: center;
    text-align: center;
    list-style: none;
    align-items: center;
    font-size: 20px;
    padding-left: 0px;
}

#botao-um {
    background-color:rgba(255, 255, 255, 0.321);
    padding: 20px 90px 20px 90px;
    border-end-start-radius: 50px;
}

#botao-dois {
    background-color: rgba(255, 255, 255, 0.318);
    padding: 20px 90px 20px 90px;
    border-end-start-radius: 50px;
}

#botao-tres {
    background-color: rgba(255, 255, 255, 0.318);
    padding: 20px 75px 20px 90px;
    border-end-start-radius: 50px;
}

#botao-sair {
    background-color: #ff6961;
    width: 100px;
    border-radius: 50px;
    margin-top: 20px;
    color: white;
    margin-left: 80px;
    font-weight: 600;
}

.caixa-chamados {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #26B0BF, white);
}

.titulo-chamado{
    text-align: justify;
    color: #26B0BF;
    font-size: 50px;
}

.abrir-chamado {
    text-align: justify;
    color: rgb(97, 96, 96);
    font-weight: 0;
    font-size: 20px;
    margin-right: 50px;
}

.botao-chamado {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background-color: #26B0BF;
    margin-top: 20px;
}

#ta_chamado {
    height: 300px;
    width: 700px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(102, 101, 101);
    border-width: 2px;
}

#botao-enviar {
    cursor: pointer; 
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    background-color: #F21616;

}

p {
    color: white;
    text-align: justify;
    padding: 20px 20px 20px 20px;
}

#img-alerta {
    float: right;
    margin-left: 20px;
}

.caixas {
    background-color: rgba(255, 255, 255, 0.667);
    width: 80%;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

a:hover {
    align-items: center;
    margin-left: 5px;
    margin-right: 2px;
    color: white;
}

.conteudo_footer {
    background-color: black;
    text-align: center;
    margin: 0;
}