body{
    margin: 0px;
    background-image: linear-gradient(to bottom, #61CBED, #e4e5e6 80%);
    font-family: sans-serif;
    overflow-x: hidden;
    
}


header{
    background-color: #61CBED;
    display: flex;
}

.container{
    width: 80vw;
    display: flex;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #61caed;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 8px white;
    z-index: 1;
}

.logo img{
    width: 20%;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
    
}

.navbar li{
    display: flex;
    
}

.navbar li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    margin-right: 3vw;
}

.navbar li :hover{
    color: blue;
    font-size: 1.2em;
    transition: 0.6s;
}

.navbar li :active{
    color: rgb(255, 0, 0);
    font-size: 1.1em;
    transition: 0.2s;
}


.banner{
    width: 100vw;
    height: 63vh;
    margin-top: 90px;
    animation: slide 10s infinite;
    animation-duration: alternate;
    background-size: cover;
}
@keyframes slide{
    0%, 30% {
        background-image: url(banner-vacina.jpg);
    }
    35%, 65% {
        background-image: url(banner.png);
    }
    70%, 100% {
        background-image: url(covid_vacines_banner.jpg);
    }
    
}


main {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

footer{
    background-color: black;
    width: 100vw;
    height: 45vh;
    display: flex
}

.conteudo_footer{
    color: white;
    display: flex;
    position: relative;
}

.conteudo_footer a{
    font-style: italic;
    font-size: 0.8em;
    color: white;
    text-decoration: none;
    text-align: center;
}

.titulos_footer{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 3%;
}


.fale_conosco{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 5vw;
}

.barra{
    width: 12vw;
    height: 0.5vh;
    background-color: #61CBED;
    align-self: center;
    margin-bottom: 5%;
}


.sac{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 9vw;
}


.logo_footer{
   position: absolute;
   margin-left: 44vw;
}

.logo_footer img{
    width: 12vw;
    height: 20vh;
}

 .logo_footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 200;
    font-style: italic;
    margin-top: 15vh;
    margin-left: -5vw;

} 

.redes_socias{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 23vw;
}


.nossos_conteudos{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 8vw;
}
.reservado{
    display: flex;
    text-justify: center;
}
.containermain{
    display: flex;
    justify-items: center ;
    position:absolute;
    margin: 50%;
    text-align: center;
    background-color:#ecf0f1d0;
    width: 35%;
    height: 400px;
    padding: 50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-style: white;
    margin-left: 0%;
    margin-right: auto;
    margin-top: 5%;
    transition: 0.6s;
    box-shadow: 10px 10px 40px white;
    border: solid 2px #61caed91;
    
}
.containermain2{
    display: flex;
    justify-items: center;
    position:absolute;
    margin: 50%;
    text-align: center;
    background-color:#ecf0f1d0;
    width: 40%;
    height: 400px;
    padding: 50px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-style: white;
    margin-left: 60%;
    margin-right: auto;
    margin-top: 5%;
    transition: 0.6s;
    box-shadow: -10px 10px 40px white;
    border: solid 2px #61caed91;
}
.containermain:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    border: solid 2px #51b1d1cf;
}
.containermain2:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    border: solid 2px #51b1d1cf;
}
.containermain2 .icones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.containermain2 .icones img{
    margin: 20% 0%;
}
.containermain2 .conteudo {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    
}
.containermain2 .conteudo .missao {
    width: 460px;
    height: 140px;
    display: flex;
    justify-content: top;
    align-items:center ;
}
.containermain2 .conteudo .visao {
    width: 460px;
    height: 140px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.containermain2 .conteudo .valores {
    width: 460px;
    height: 140px;
    display: flex;
    justify-content: bottom;
    align-items: center;
    
}
.valores ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;
}
.visao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.visaobox{
    display: flex;
    margin: auto;
    height: 100px;
    width: 350px;
    background-color: #61caed;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid red 2.5px;
}
.valoresbox{
    display: flex;
    margin: auto;
    padding: auto;
    height: 100px;
    width: 350px;
    background-color: #61caed;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid red 2.5px;
}
.missaobox {
    display: flex;
    margin: auto;
    height: 100px;
    width: 350px;
    background-color: #61caed;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid red 2.5px;
}


