body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(180deg, #D5DEFB, #8BABF7, #000000);
    height: 100vh;
}


.conteudo {
    display: flex;
}


.lateral {
    height: 100vh;
    width: 21.5vw;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #6695F2;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0px 10px white;
}

.lateral img {
    width: 95%;
    height: 30%;
    margin-left: 3%;
}


.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.navbar span{
    margin: 8% 0%;
    background-color: rgba(255, 255, 255, 0.322);
    width: 18vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 0px 1px 10px white;
}

#sair{
    margin-top: 20%;
    background-color: black;
    border-radius: 2%;
    width: 5vw;
    height: 5vh;
    box-shadow: 0px 0px 0px white;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.container_conteudo{
    width: 70vw;
    margin: 0 auto;
}

.grafico_p{
    background-color: rgba(255, 255, 255, 0.62);
}


#myChart{
    height: 30vh;
}

.grafico h1 {
    text-align: center;
}


.metricas{
    background-color: yellow;
    width: 60vw;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 1%;
}

.dados_metricas{
    width: 7.5vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
}

.dados_metricas .p_critico{
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: 900;
    font-size: 0.9em;
    margin-top: -1%;
    background-color: rgb(194, 0, 0);
    color: white;
    padding-bottom: 3%;
}

.dados_metricas .p_emergencia{
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: 900;
    font-size: 0.9em;
    margin-top: -1%;
    background-color: rgb(211, 137, 0);
    color: white;
    padding-bottom: 3%;
}

.dados_metricas .p_alerta{
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: 900;
    font-size: 0.9em;
    margin-top: -1%;
    background-color: rgb(196, 196, 0);
    color: white;
    padding-bottom: 3%;
}

.dados_metricas .p_ideal{
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: 900;
    font-size: 0.9em;
    margin-top: -1%;
    background-color: green;
    color: white;
    padding-bottom: 2%;
}


#critico_e, #critico_d{
    /* background-color: #110F36; */
    background-color: rgb(255, 113, 113); 
    border: 1px solid black;
}

#emergencia_e , #emergencia_d{
    /* background-color: #252175; */
     background-color: rgb(255, 207, 119); 
    border: 1px solid black;
}

#alerta_e , #alerta_d{
    /* background-color: #3933B5; */
     background-color: rgb(255, 255, 148); 
    border: 1px solid black;
}

#ideal_e {
    /* background-color: #4D44F5; */
     background-color: rgb(86, 164, 86); 
    border: 1px solid black;
    width: 15vw;
} 

.resultado_metricas{
    background-color: rgba(255, 255, 255, 0.567);
    border: solid 1px black;
    width: 5.5vw;
    height: 9vh;
    margin: 0 auto;
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado_metricas p{
    color: black;
    font-weight: 900;
    font-size: 2em;
}


#ideal_e{
    display: flex;
}

.pai_resultado_ideal{
    display: flex;
    height: 12vh;
    justify-content: center;
    align-items: center;
}


#resultado_ideal1{
    background-color: rgba(255, 255, 255, 0.567);
    border: solid 1px black;
    width: 5.5vw;
    height: 9vh;
}

#resultado_ideal2{
    background-color: rgba(255, 255, 255, 0.567);
    border: solid 1px black;
    width: 5.5vw;
    height: 9vh;
}



.info{
    background-color: #6695F2;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_dados{
    display: flex;
    margin-left: 5%;
    background-color: rgba(0, 0, 255, 0.521);
    height: 5.5vh;
    align-items: center;
    color: white;
    padding: 0 5%;
    border-radius: 10px;
}


.info_dados #sublinhada{
    padding-right: 3vw;
}

.box_kpi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 15vw;
    height: 20vh;
    background-color: #252175;
    border-radius: 20px;
    font-weight: 700;
    padding: 0.1%;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
}

.kpi2{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 15vw;
    height: 20vh;
    background-color: #110F36;
    border-radius: 20px;
    font-weight: 700;
    padding: 0.1%;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
}

.kpi h3{
    text-align: center;
    color: white;
}

.kpi2 h3{
    text-align: center;
    color: white;
}

.titulo_kpi {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
}

.sublinhada{
    font-style: italic;
    font-weight: 100;
    text-align: center;
    margin-top: -8%;
    font-size: 0.8em;
    color: white;
}

.kpi img{
    width: 5.5vw;
    height: 10vh;
}

.kpi2 img{
    width: 5.5vw;
    height: 10vh;
}

.resultado{
    width: 7vw;
    height: 7vh;
    background-color: #8BABF7;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dados_kpi{
    margin-top: -5%;
    display: flex;
    text-align: center;
    align-items: center;
}


